main{
    background-color: #171717;
}
section{
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.topic1{
    position: relative;
    height: 57vh;
}

section>h1{
    font-size: 2.5vw;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: #FFF500;
    font-family: 'Roboto Slab', serif;
}

#cssAssignments{
    margin-left: 66px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    display: grid;
    row-gap: 25px;
}

#transitionAssignments{
    height: 100%;
    position: relative;
    margin-left: 66px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    display: grid;
}

#animationAssignments{
    height: 100%;
    position: relative;
    margin-left: 66px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    display: grid;
}

#bootstrapAssignments{
    height: 100%;
    position: relative;
    margin-left: 66px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    display: grid;
}

#jsAssignments{
    position: relative;
    margin-left: 66px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    display: grid;
    row-gap: 25px;
}

.assignments{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 40vh;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.assignments>svg,p,a{
    align-self: center;
}

.assignments>svg{
    width: 45%;
    height: 43%;
}

.assignments>p{
    font-size: 1.3vw;
    font-weight: bold;
}

.assignments>a{
    font-size: 1.2vw;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #FFF500;
    border: 1px solid black;
    color: black;
    border-radius: 20px;
}

.assignments:hover{
    transition: 1s all;
    background-color: #FFF500;
    box-shadow: 10px 10px 5px #FFF500;
}

.assignments:hover svg{
    transition: 1s all;
    width: 100px;
    height: 100px;
}

.assignments:hover p{
    transition: 1s all;
    font-size: large;
}

.assignments:hover a{
    transition: 1s all;
    padding: 3px 20px;
    background-color: black;
    border: 1px solid #FFF500;
    color: #FFF500;
    box-shadow: 2px 2px 5px black;
}


/*----------------------------------------Responsive-----------------------------------------------------------*/

@media all and (max-width: 321px){
    section{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    section:last-child{
        padding-bottom: 20px;
    }

    .topic{
        height: 28%;
    }

    .topic>h1{
        font-size: 5.5vw;
        margin-bottom: 14px;
        margin-top: 14px;
    }

    .topic1{
        height: 28%;
    }

    .topic1>h1{
        font-size: 5.5vw;
        margin-bottom: 14px;
    }

    #cssAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    #cssAssignments>div:nth-child(5){
        display: none;
    }

    #cssAssignments>div:last-child{
        display: none;
    }

    #transitionAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 25px;
    }

    #animationAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 25px;
    }

    #bootstrapAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
    }

    #jsAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .assignments{
        width: 89%;
        border-radius: 11px;
        height : 20vh;
    }

    .assignments>svg{
        width: 55%;
        height: 43%;
    }

    .assignments>p{
        font-size: 3.3vw;
    }

    .assignments>a{
        font-size: 3.2vw;
        padding: 3px 20px;
        border-radius: 5px;
    }

    .assignments:hover{
        transition: 1s all;
        background-color: #FFF500;
        box-shadow: 6px 6px 4px #FFF500;
    }

    .assignments:hover svg{
        transition: 1s all;
        width: 56%;
        height: 44%;
    }

    .assignments:hover p{
        transition: 1s all;
        font-size: 3.4vw;
    }

    .assignments:hover a{
        transition: 1s all;
        background-color: black;
        border: 1px solid #FFF500;
        color: #FFF500;
        box-shadow: 2px 2px 5px black;
    }
}




@media all and (min-width: 321px) and (max-width: 376px){
    section{
        height: 200vh;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }

    section:last-child{
        padding-bottom: 20px;
    }

    .topic{
        margin-bottom: 30px;
        height: 30%;
    }

    .topic>h1{
        font-size: 5.5vw;
        margin-bottom: 14px;
    }

    .topic1{
        margin-bottom: 30px;
        height: 30%;
    }

    .topic1>h1{
        font-size: 5.5vw;
        margin-bottom: 14px;
    }

    #cssAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    #cssAssignments>div:nth-child(5){
        display: none;
    }

    #cssAssignments>div:last-child{
        display: none;
    }

    #transitionAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 25px;
    }

    #animationAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 25px;
    }

    .assignments{
        width: 89%;
        border-radius: 11px;
        height : 20vh;
    }

    .assignments>svg{
        width: 55%;
        height: 43%;
    }

    .assignments>p{
        font-size: 3.3vw;
    }

    .assignments>a{
        font-size: 3.2vw;
        padding: 3px 20px;
        border-radius: 5px;
    }

    .assignments:hover{
        transition: 1s all;
        background-color: #FFF500;
        box-shadow: 6px 6px 4px #FFF500;
    }

    .assignments:hover svg{
        transition: 1s all;
        width: 56%;
        height: 44%;
    }

    .assignments:hover p{
        transition: 1s all;
        font-size: 3.4vw;
    }

    .assignments:hover a{
        transition: 1s all;
        background-color: black;
        border: 1px solid #FFF500;
        color: #FFF500;
        box-shadow: 2px 2px 5px black;
    }
}



@media all and (min-width: 376px) and (max-width: 426px){
    section{
        height: 220vh;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }

    section:last-child{
        padding-bottom: 20px;
    }

    .topic{
        margin-bottom: 30px;
        height: 31%;
    }

    .topic>h1{
        font-size: 5.5vw;
        margin-bottom: 14px;
    }

    .topic1{
        margin-bottom: 30px;
        height: 31%;
    }

    .topic1>h1{
        font-size: 5.5vw;
        margin-bottom: 14px;
    }

    #cssAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    #cssAssignments>div:nth-child(5){
        display: none;
    }

    #cssAssignments>div:last-child{
        display: none;
    }

    #transitionAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 25px;
    }

    #animationAssignments{
        margin-left: 7px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 25px;
    }

    .assignments{
        width: 89%;
        border-radius: 11px;
        height : 20vh;
    }

    .assignments>svg{
        width: 55%;
        height: 43%;
    }

    .assignments>p{
        font-size: 3.3vw;
    }

    .assignments>a{
        font-size: 3.2vw;
        padding: 3px 20px;
        border-radius: 5px;
    }

    .assignments:hover{
        transition: 1s all;
        background-color: #FFF500;
        box-shadow: 6px 6px 4px #FFF500;
    }

    .assignments:hover svg{
        transition: 1s all;
        width: 56%;
        height: 44%;
    }

    .assignments:hover p{
        transition: 1s all;
        font-size: 3.4vw;
    }

    .assignments:hover a{
        transition: 1s all;
        background-color: black;
        border: 1px solid #FFF500;
        color: #FFF500;
        box-shadow: 2px 2px 5px black;
    }
}




@media all and (min-width: 426px) and (max-width: 769px){
    section{
        height: 240vh;
        padding-left: 30px;
        padding-right: 30px;
    }

    .topic{
        height: 35%;
    }

    .topic>h1{
        font-size: 3.5vw;
        margin-bottom: 30px;
    }

    .topic1{
        height: 20%;
    }

    .topic1>h1{
        font-size: 3.5vw;
        margin-bottom: 30px;
    }

    #cssAssignments{
        margin-left: 13px;
    }

    #transitionAssignments{
        margin-left: 13px;

    }

    #animationAssignments{
        margin-left: 13px;
    }

    .assignments{
        width: 89%;
        border-radius: 11px;
        height : 20vh;
    }

    .assignments>svg,p,a{
        align-self: center;
    }

    .assignments>svg{
        width: 55%;
        height: 45%;
    }

    .assignments>p{
        font-size: 1.9vw;
    }

    .assignments>a{
        font-size: 2.2vw;
        padding: 3px 20px;
        border-radius: 10px;
    }

    .assignments:hover{
        transition: 1s all;
        background-color: #FFF500;
        box-shadow: 10px 10px 5px #FFF500;
    }

    .assignments:hover svg{
        transition: 1s all;
        width: 56%;
        height: 46%;
    }

    .assignments:hover p{
        transition: 1s all;
        font-size: 2vw;
    }

    .assignments:hover a{
        transition: 1s all;
        padding: 3px 20px;
        background-color: black;
        border: 1px solid #FFF500;
        color: #FFF500;
        box-shadow: 2px 2px 5px black;
    }
}



@media all and (min-width: 769px) and (max-width: 1025px){
    section{
        height: 240vh;
        padding-left: 30px;
        padding-right: 30px;
    }

    .topic{
        height: 38%;;
    }

    .topic>h1{
        font-size: 3vw;
        margin-bottom: 30px;
    }

    .topic1{
        height: 22%;
    }

    .topic1>h1{
        font-size: 3vw;
        margin-bottom: 30px;
    }

    #cssAssignments{
        margin-left: 55px;
    }

    #transitionAssignments{
        margin-left: 55px;
    }

    #animationAssignments{
        margin-left: 55px;    }

    .assignments{
        width: 79%;
    }

    .assignments>svg,p,a{
        align-self: center;
    }

    .assignments>svg{
        width: 55%;
        height: 45%;
    }

    .assignments>p{
        font-size: 1.7vw;
    }

    .assignments>a{
        font-size: 1.5vw;
        padding: 3px 20px;
        border-radius: 10px;
    }

    .assignments:hover{
        transition: 1s all;
        background-color: #FFF500;
        box-shadow: 10px 10px 5px #FFF500;
    }

    .assignments:hover svg{
        transition: 1s all;
        width: 56%;
        height: 46%;
    }

    .assignments:hover p{
        transition: 1s all;
        font-size: 2vw;
    }

    .assignments:hover a{
        transition: 1s all;
        padding: 3px 20px;
        background-color: black;
        border: 1px solid #FFF500;
        color: #FFF500;
        box-shadow: 2px 2px 5px black;
    }
}